body {
    background-color: #90ee90;
  }
a { 
    color:rgb(78, 72, 72)
    
}
hr {    
    color:rgb(233, 233, 10)
}

h1 {    
    color:rgb(233, 233, 10)
}

div {



    text-align: center;
  }
  #main div {
    width: 200px;
    height: 500px;
  }
  #main {
    width: 200px;
    height:500px;
  
    display: flex;
    flex-wrap: wrap;
    align-content: center;
  }
  